.chat-room-page {
    width: 90vw;
    margin: 0 auto;
}
  
.chat-box {
    height: calc(100vh - 300px);
    overflow-y: scroll;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 8px;
}

header1 {
    background-color: #ffffff;
    opacity: 0.8;
    font-size: 40px;
    border-radius: 6px;
}

.form-control {
    margin: 1rem 1rem 1rem 0;
}

.form-inline .form-group{
    flex-flow: row;
    flex-direction: row;
    flex-wrap: nowrap;
}

.form-control-lg {
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.form-control{
    display: inline-flex;
    width: 80%;
}

.form-control{
    background-color: #ffffff;
    opacity: 0.9;
}